@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-left: 24px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #07043B;
    background: white;

}
.logo{
    height: 24px;
}
.head-right{
    display: flex;
    flex-direction: row;
    justify-content:flex-end ;
    gap: 25px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin-right: 24px;
    margin-top: -24px;
    
}
.img-1{
    width: 305px;
    height: 225px;
    margin-top: 98px;
    margin-left: 15px;

}

h1{
    width: 320px;
    height: 110px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    
}
.stores{
    width: 296px;
    height: 84px;
    margin-left: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-top: 24px;

}
.email-input{
    width: 305px;
    height: 40px;      
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.4px;
    color: #C2C2C2;
    padding-left: 21px;
    border-color: #07043B;
    border-radius: 3.15px;

}

.email-dekstop{
    display: none;
}
#submit-email{
    width: 305px;
    height: 40px;   
    margin-top: 0px;
    font-weight: 700;   
    font-size: 14px;
    line-height: 16.5px;
    border-radius: 3.15px;
    color: white;
    border: none;
    background-color: #2F65F8;

}
#submit-email:hover{
    cursor: pointer;
    background-color: #6C9BFF;
}

.center {
    background-color: #F8F8FE;   
    margin-left: -25px;
    padding-left: 20px;
    margin-top: 140px;
    width: 375px;
    height: 875px;
}
.curve-mobile{
    display: block;
    width: 375px;
    position: absolute;
    margin-top: -53px;
    margin-left: -20px;
}
.img-2{
    width: 320px;
    height: 241px;
    padding-top: 93px;
    padding-left: 8px;
}
.curve-dekstop{
    display: none;
}

h2{
    margin-top: 87px;
    margin-left: 39px;
    width: 260px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

}
.Never{
    margin-top: 24px;
    width: 320px;
    height: 63px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #615F7E;


}
.Securely{
    margin-top: 16px;
    width: 320px;
    height: 63px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #615F7E;

}
.lite-green{
    border: none;
    background-color: inherit;
    color: #3DA08F;
    width: 150px;
    height: 16px;
    font-size: 12px;
    text-decoration: underline;
    text-underline-offset: 5px;
    column-gap: 6px;  
    margin-top: 36px;
    margin-left: 90px; 

}
.arrow{
    position: absolute;
    margin-left: 5px;

}
.avatar-box{
    background-color: white;
    margin-left: 24px;
    margin-top: 40px;
    width: 280px;
    height: 170px;
    padding-left: 26px;
}
.quetos{
    padding-top: 22px;
}
.avatar-text{
    width: 240px;
    height: 73px;
    font-size: 10px;
    line-height: 21px;
    text-align: start;
    letter-spacing: 0.4px;
}
.avatar{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-top: 20px;
    
}
h3{
    margin-top: -25px;
    padding-left: 32px;
    font-weight: 700;
    font-size: 9px;
    letter-spacing: 0.45px;
}
.avatar-description{
    height: 12px;
    padding-left: 32px;
    font-weight: 400;
    font-size: 6px;
    letter-spacing: 0.3px;
}

.center-down-gray{
    background-color: #575988;   
    margin-top: 0px;
    padding-top: 54px;
    margin-left: -25px;
    width: 375px;
    height: 345px;
    justify-content: center;

}
h4{
    margin-left:90px ;
    margin-top: 0px;
    width: 200px;
    height: 24px;
    font-weight: 18px;
    line-height: 24px;
    color: white;

}
.gray-text{
    width: 280px;
    height: 85px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin: auto;
    margin-top: 16px;
    color: white;
}
.email-input2{
    width: 240px;
    height: 32px;
    border-radius: 1.5px;
    border-color:white ;
    padding-left: 21px;
    color: #C0C0C0;
}
#submit-email2{ 
    width: 240px;
    height: 32px;
    font-weight: 700;   
    font-size: 14px;
    line-height: 16.5px;
    border-radius: 1.5px;
    color: white;
    border: none;
    background-color: #2F65F8;
    

}

.footer{
    width: 375px;
    height: 590px;
    margin-left: -25px;
    background-color: #07043B;
    color: white;

}
svg path{
    fill:white;
    
}
svg{
    margin-top: 65px;
    margin-left: 33px;
}
.nav{
    margin-top: 33px;
    margin-left: 40px;
    display:table ;
    
}
.phone{
    gap: 18px;
    display: flex;
    
}
.Mail{
    margin-top: 16px;
    gap: 16px;
    display: flex;
}

ul{
    list-style-type: none;
    margin: 0;
    margin-left: 40px;
    margin-top: 32px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.icons{
    display:flex;
    justify-content: center;
    gap: 0px;
    margin-top: -25px;
    margin-left: -45px;
}
.Mail:hover{
    cursor: pointer;
    color: #6C9BFF;
}
.phone:hover{
    cursor: pointer;
    color: #6C9BFF;
}
nav:hover{
    cursor: pointer;
    color: #6C9BFF;
}
li:hover{
   
    cursor: pointer;
    color: #6C9BFF;
}
.lite-green:hover{
    cursor: pointer;
    color: #71DFCC;
}

            /* js-assist  */


.email-div{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 16px;
}
.email-div2{
    display: flex;
    flex-direction: column;
    margin-top: -98px;
    margin-left:-66px ;
    gap: 16px;
    align-items: flex-end;

}


.input.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input.container2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.success{
    border: 1px solid green;
}                                            
.error{
    border: 1px solid #EF4877;
}

.p-error{
    font-family: Open Sans;
    margin-top: 5px;
    display: none;
    color: #EF4877;
}
.p-success{
    font-family: Open Sans;
    margin-top: 5px;
    display: none;
    color: green;
}


@media screen and (min-width:1440px){
    
    body{
        margin-left: 80px;
        margin-top: 65px;
        flex-wrap: wrap;

    }
    .logo{
        height: 43px;
    }
    .head-right{
        margin-right: 80px;
        font-size: 16px;
    }
    .img-1{
        width: 640px;
        height: 474px;
        margin-top: 100px;
        margin-left: 720px;
    }
    .center-up{
        margin-top: -450px;
    }
    h1{
        font-size: 40px;
        text-align: start;
        width: 627px;
        height: 120px;
        line-height: 60px;
    }
    .stores{
        width: 585px;
        height: 72px;
        font-size: 17px;
        letter-spacing: 0.53px;
        line-height: 24px;
        text-align: start;
        margin-left: 0px;
    }
    .email-div{
        display: flex;
        flex-direction: row;
    }
    #submit-email{
        height: 45px;
        width: 200px;
    }
    .email-input{
       height: 45px;
    }
    .email-dekstop{
        display: none;
        width: 320px;
        height: 45px;                       
        padding-left: 21px;
    }
    #submit-email2{
        width: 200px;
        height: 45px; 
        margin-left: -50px;         /*   ? position     */  
        display: flex;
        justify-content: space-around;
        align-items: center;
    
    }

    #submit-email2:hover{
        cursor: pointer;
        background-color: #6C9BFF;
    }
    .center{
        width: auto;
        margin-left: -80px;
        margin-top: 350px;
        height: 675px;
        
    }
    .curve-mobile{
        display: none;
    }
    .curve-dekstop{
        display: block;
        width: 100%;
        position: absolute;
        margin-top: -114px;
        margin-left: -20px;
    }
    .img-2{
        width: 542px;
        height: 409px;
        margin-left: 850px;
        margin-top: 0px;
    }
    .center-text{
        margin-top: -400px;
        margin-left: 80px;
        text-align: start;

    }
    h2{
        width: 660px;
        height: 47px;
        font-size: 40px;
        line-height: 47px;
        text-align: start;
        margin-left: -20px;
    }
    .Never{
        width: 530px;
        height: 48px;
        font-size: 16px;
        line-height: 24px;
        color: #07043B;
        text-align: start;
        margin-left: -20px;
    }
    .Securely{
        width: 530px;
        height: 48px;
        font-size: 16px;
        line-height: 24px;
        color: #07043B;
        text-align: start;
        margin-left: -20px;
    }
    .lite-green {
        width: 166px;
        height: 27px;
       margin-left: 40px;
    }
    .avatar-box{
        margin-left: 60px;
    }
    .center-down-gray{
        width: auto;
        height:300px;
        margin-left:-80px;
    }
    h4{
        margin-top:20px;
        margin-left:100px;
        width: 350px;
        height: 48px;
        font-size: 32px;
        line-height: 48px;

    }
    .gray-text{
        margin-left: 100px;
        text-align: start;
        width: 535px;
        height: 72px;
        font-size: 16px;
        line-height: 24px;
    }
    .email-input2{
        width: 480px;
        height: 48px;
        
    }

    
   

    .footer{
        width: auto;
        height: 391px;
        margin-left: -80px;
        
    }
    svg{
        margin-left:100px ;
        margin-top: 92px;
    }
    .phone{
        
        margin-left: 60px;
    }
    .Mail{
        margin-top: 20px;
        margin-left: 60px;
    }
    .ul1{
        margin-left: 550px;
        margin-top: -65px;
        line-height: 22px;
        width: 70px;

    }
    .ul2{
        margin-left: 850px;
        margin-top: -136px;
        line-height: 22px;
        width: 90px;
    }

    .icons{
        margin-top: -195px;
        margin-left: 660px;
        
    }
    .twit{
       margin-left: 13px;
    
    }
    .insta{
        margin-left: 13px;
    }
    .icons path:hover{
        cursor: pointer;
        fill:#6C9BFF;
    }   
   



}





